Source: pihole-panel
Section: internet
Priority: optional
Maintainer: Dale Osm <webmaster@daleosm.com>
XSBC-Original-Maintainer: Dale Osm <webmaster@daleosm.com>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 7)
Homepage: https://github.com/daleosm/PiHole-Panel
Package: pihole-panel
Version: 2.3
Architecture: all
Depends: python3-gi
Description: Python/GTK3 based Pi-hole Dashboard for stats and more
 Connects to one or multiple Pi-hole hosts and reports statistics in real-time and also allows you to use it as a control panel to control your Pi-hole hosts independently.
